.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $dark-sidebar-color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;

    &__link {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #fff !important;
        display: block;
        transition: 0.3s;
    }

    &__slide {
        width:250px;
    }
}
