.clearfix {
  &:after {
    display: table;
    content: '';
    clear: both;
  }
}



.arrow-down {
  margin-left: 4px;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;

  border-top: 8px solid #fff;
  display: inline-block;
}