@mixin three-block-font {
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 30px; 
    font-weight: 400; 
    line-height: 32px;
}

@mixin under-three-block-head-font {
    font-family: 'Lato','arial', serif; 
    // line-height: 1.25; 
    margin: 0 0 10px; 
    font-size: 40px; 
    font-weight: 790;
}