$primary-color: #F4623A;
$secondary-color: #fff;

$primary-hover-button :#EE3E0D;
$secondary-hover-button :#E2E6EA;;

$secondary-btn-text : #212529;

$title-primary-color:  #212529;

$download-bg-color : #343A40;

$footer-color :#F8F9FA;

$copyright-text-color : #6C757D;
$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px
)