$dark-bg-color: #151515;
$dark-navbar-color: #000000;
$dark-sidebar-color: #3c4042;
$dark-clock-color: #303030;
$dark-weather-color: #252525;
$dark-text-color--primary: #ffffff;

//weather image source

$weather-img-source: (
  thunderstorm: (
    image: "thunderstorm-weather.jpg",
    icon : 'f0e7'
  ),
  drizzle: (
    image: "drizzle-weather.jpg",
    icon: 'f73d'
  ),
  rain: (
    image: "rain-weather.jpg",
    icon: 'f740'
  ),
  snow: (
    image: "snowy-weather.jpg",
    icon: 'f2dc'
  ),
  mist: (
    image: "mist-weather.jpg",
    icon: 'f75f'
  ),
  clear: (
    image: "clear-weather.jpg",
    icon: 'f185'
  ),
  cloudy: (
    image: "cloudy-weather.jpeg",
    icon: 'f0c2'
  )
);
