<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Landrick</title>
  </head>
  <body>
    <div class="container">
    <header class="header d-flex d-flex--space-between">
      <div class="header__title">Landrick.</div>
      <ul class="nav text-upper">
        <li class="nav__item"><a class="nav__link" href="#">Home</a></li>
        <li class="nav__item nav__item--dropdown">
          Landing <i class="fas fa-angle-down dropdown__icon"></i>
          <ul class="dropdown">
            <li class="dropdown__item"><a href="#" class="dropdown__link">SASS</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">Agency</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">Application</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">Studio</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">Business</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">Modern Business</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">Hotel</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">Marketing</a></li>
            <li class="dropdown__item"><a href="#" class="dropdown__link">Enterprise</a></li>
          </ul>
        </li>
        <li class="nav__item nav__item--dropdown">Page <i class="fas fa-angle-down"></i></li>
        <li class="nav__item"><a class="nav__link" href="#">Docs</a></li>
      </ul>
      <button class="btn btn--primary header__button">Buy Now</button>
    </header>
    <!----------------------------- page content go here  ---------------------------------->
    <section id="conduct" class="conduct center-content">
      <h1 class="content-title content-title--big">Conduct More Customer In A Better Way</h1>
      <p class="content-paragraph conduct__paragraph">Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap4 html page.</p>
      <button class="conduct__button btn btn--primary d-block center-content">Start Free Trial</button>
      <img class="center-content d-block" src="../images/home.209c3e08.png">
    </section>
    <section id="client" class="client center-content">
      <h2 class="content-title content-title--normal">Our Trusted Clients</h2>
      <div class="demo-content d-flex d-flex--center-row">
        <p class="demo-content__item">Start working with </p>
        <p class="demo-content__item"><span class="span-link"><a href="#">Landrick</a></span></p>
        <p class="demo-content__item">that can provide everything you need to generate awareness, drive traffic, connect.</p>
      </div>
      <div class="client__logos d-flex d-flex--space-around">
        <img class="client__image" src="../images/client_1.png">
        <img class="client__image" src="../images/client_2.png">
        <img class="client__image" src="../images/client_3.png">
        <img class="client__image" src="../images/client_4.png">
        <img class="client__image" src="../images/client_5.png">
        <img class="client__image" src="../images/client_6.png">
      </div>
    </section>
    <div class="line-break line-break--gray"></div>
    <section id="boxinfo" class="boxinfo d-flex d-flex--space-around">
      <div class="boxinfo__box">
        <img class="boxinfo__icon" src="../images/user.cf9b9fe5.svg">
        <h4 class="boxinfo__title">Easy To Use</h4>
        <p class="boxinfo__content">Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam eleifend aenean elementum semper.</p>
      </div>
      <div class="boxinfo__box">
        <img class="boxinfo__icon" src="../images/calendar.3f528a38.svg">
        <h4 class="boxinfo__title">Daily Reports</h4>
        <p class="boxinfo__content">Allegedly, a Latin scholar established the origin of the established text by compiling unusual word.</p>
      </div>
      <div class="boxinfo__box">
        <img class="boxinfo__icon" src="../images/sand-clock.a62cd0a5.svg">
        <h4 class="boxinfo__title">Real Time Zone</h4>
        <p class="boxinfo__content">It seems that only fragments of the original text remain in only fragments the Lorem Ipsum texts used today.</p>
      </div>
    </section>
    <section id="bulletin" class="bulletin d-flex d-flex--center-row d-flex--center-item">
      <img class="bulletin__image d-inline" src="../images/1.146ca55c.png">
      <div class="bulletin__content d-inline">
        <h1 class="bulletin__title">Great Product Analytics With Real Problem</h1>
        <p class="bulletin__paragraph">Due to its widespread use as filler text for layouts, non-readability is of great importance: human perception is tuned to recognize certain patterns and repetitions in texts. If the distribution of letters visual impact.</p>
        <p class="bulletin__check">Digital Marketing Solutions for Tomorrow</p>
        <p class="bulletin__check">Create your own skin to match your brand</p>
        <a class="bulletin__more" href="#">Find out more &rsaquo;</a>
      </div>
    </section>
    <section id="bulletin" class="bulletin d-flex d-flex--center-row d-flex--center-item">
      <div class="bulletin__content d-inline">
        <h1 class="bulletin__title">Get Notified About Important Email</h1>
        <p class="bulletin__paragraph">This prevents repetitive patterns from impairing the overall visual impression and facilitates the comparison of different typefaces. Furthermore, it is advantageous when the dummy text is relatively realistic.</p>
        <p class="bulletin__check">Digital Marketing Solutions for Tomorrow</p>
        <p class="bulletin__check">Create your own skin to match your brand</p>
        <a class="bulletin__more" href="#">Find out more &rsaquo;</a>
      </div>
      <img class="bulletin__image d-inline" src="../images/app_development_SVG.1744d3c9.svg">
    </section>
    <section id="review" class="review">
      <div class="review__content">
        <h1 class="content-title content-title--normal">Whats Our Clients Said About <span class="span-link"><a href="#">Landrick</a></span> Project</h1>
        <div class="demo-content d-flex d-flex--center-row">
          <p class="demo-content__item">Start working with </p>
          <p class="demo-content__item"><span class="span-link"><a href="#">Landrick</a></span></p>
          <p class="demo-content__item">that can provide everything you need to generate awareness, drive traffic, connect.</p>
        </div>
      </div>
      <div class="d-flex d-flex--center-row">
        <div class="review__user d-flex">
          <img class="review__avatar" src="../images/profile_1.jpg"></img>
          <div class="review__box">
            <div class="review__stars">
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
            </div>
            <p class="review__line">" It seems that only fragments of the original text remain in the Lorem Ipsum texts used today. "</p>
            <p class="review__sign"><span class="review__user-name"><a href="#">- Thomas Israel</a></span> C.E.O</p>
          </div>
        </div>
        
        <div class="review__user d-flex">
          <img class="review__avatar" src="../images/profile_2.jpg"></img>
          <div class="review__box">
            <div class="review__stars">
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
              <i class="fas fa-star star"></i>
            </div>
            <p class="review__line">" One disadvantage of Lorum Ipsum is that in Latin certain letters appear more frequently than others. "</p>
            <p class="review__sign"><span class="review__user-name"><a href="#">- Barbara McIntosh</a></span> M.D</p>
          </div>
        </div>
      </div>
    </section>
    <section id="getstarted" class="getstarted">
      <h1 class="content-title content-title--small">See everything about your employee at one place.</h1>
      <div class="demo-content d-flex d-flex--center-row">
        <p class="demo-content__item">Start working with </p>
        <p class="demo-content__item"><span class="span-link"><a href="#">Landrick</a></span></p>
        <p class="demo-content__item">that can provide everything you need to generate awareness, drive traffic, connect.</p>
      </div>
      <div class="d-flex d-flex--center-row">
        <button class="getstarted__btn btn btn--primary d-inline">Get Started Now</button>
        <button class="getstarted__btn btn btn--secondary d-inline">Free Trial</button>
      </div>
    </section>
    <!--------------------------------------------------------------------->
    <footer class="footer">
      <div class="d-flex d-flex--space-between">
        <div class="footer__content">
          <div class="footer__title">Landrick<span class="span-link">.</span></div>
          <p>Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
        </div>
        <div class="footer__content">
          <div class="footer__title">Company</div>
          <ul class="footer__list">
            <li class="footer__item"><a href="#">About us</a></li>
            <li class="footer__item"><a href="#">Services</a></li>
            <li class="footer__item"><a href="#">Team</a></li>
            <li class="footer__item"><a href="#">Pricing</a></li>
            <li class="footer__item"><a href="#">Features</a></li>
            <li class="footer__item"><a href="#">FAQ</a></li>
            <li class="footer__item"><a href="#">Blog</a></li>
            <li class="footer__item"><a href="#">Login</a></li>
          </ul>
        </div>
        <div class="footer__content">
          <div class="footer__title">Useful Links</div>
          <ul class="footer__list">
            <li class="footer__item"><a href="#">Privacy Protection</a></li>
            <li class="footer__item"><a href="#">Safe Payments</a></li>
            <li class="footer__item"><a href="#">Terms of Services</a></li>
            <li class="footer__item"><a href="#">Documentation</a></li>
            <li class="footer__item"><a href="#">Privacy Policy</a></li>
          </ul>
        </div>
        <div class="footer__content">
          <div class="footer__title">Newsletter</div>
          <p>Sign up and receive the latest tips via email.</p>
          <p class="footer__write">Write your email <span class="red">*</span></p>
          <div class="input-with-icon">
            <input class="footer__email input-with-icon__field" type="text" placeholder="Your Email"/>
            <i class="fas fa-envelope input-with-icon__icon"></i>
          </div>
          <button class="btn btn--primary font-bold footer__btn">Subscribe</button>
        </div>
      </div>
      <div class="line-break"></div>
      <div class="footer__under d-flex d-flex--space-between">
        <div class="footer__copyright">© 2020 Landrick. Develop by Themesbrand.</div>
        <div class="d-inherit">
          <img class="footer__icon" src="../images/american_express.png">
          <img class="footer__icon" src="../images/discover.png">
          <img class="footer__icon" src="../images/mastercard.png">
          <img class="footer__icon" src="../images/paypal.png">
          <img class="footer__icon" src="../images/visa.png">
        </div>
      </div>
    </footer>
    </div>
  </body>
</html>
