<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="header clearfix">
      <div class="spinning-cog">
        <i class="fas fa-cog fa-2x cog"></i>
      </div>
      <div class="fox-icon"><img src= "../images/fox-logo.png"></div>
      <ul class="nav">
          <li class="nav__item"><a href="#" class="nav__item__link">Home</a></li>
          <li class="nav__item"><a href="#" class="nav__item__link">About</a></li>
          <li class="nav__item"><a href="#" class="nav__item__link">Feature</a></li>
          <li class="nav__item"><a href="#" class="nav__item__link">Screenshot</a></li>
          <li class="nav__item"><a href="#" class="nav__item__link">Team</a></li>
          <li class="nav__item dropdown">
              News <div class="arrow-down"></div>
              <ul class="drop-content">
                  <li href="#" class="drop-item"><a href="#" class="drop-link">Recent News</a></li>
                  <li href="#" class="drop-item"><a href="#" class="drop-link">News One</a></li>
                  <li href="#" class="drop-item"><a href="#" class="drop-link">News Two</a></li>
                  <li href="#" class="drop-item"><a href="#" class="drop-link">News Three</a></li>
                  <li href="#" class="drop-item"><a href="#" class="drop-link">Single News</a></li>
              </ul>
          <li class="nav__item"><a href="#" class="nav__item__link">Contact</a></li>
      </ul>
    </nav>
    <div class="container">
      <div class="succeed">
        <div class="succeed__left ">
            <p class="succeed__head-paragraph">With us you will</p>
            <h1 class="succeed__big-word">SUCCEED</h1>
            <p class="succeed__paragraph">Proactively syndicate open-source e-markets after low-risk high-yield synergy. Professionally simplify visionary technology.</p>
            <button class="btn">READ MORE</button>
        </div>
        <div class="succeed__right ">
          <img src="../images/mobile-1.png">
        </div>
      </div>
      <div class="box-information">
        <div class="box-information__card">
          <i class="box-information__card__icon fas fa-magic fa-3x"></i>
          <h1 class="box-information__card__title">Creative Design</h1>
          <p class="box-information__card__paragraph">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
        </div>
        <div class="box-information__card">
          <i class="box-information__card__icon fas fa-rocket fa-3x"></i>
          <h1 class="box-information__card__title">Free support</h1>
          <p class="box-information__card__paragraph">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
        </div>
        <div class="box-information__card">
          <i class="box-information__card__icon fas fa-gem fa-3x"></i>
          <h1 class="box-information__card__title">Exclusive Design</h1>
          <p class="box-information__card__paragraph">Proactively syndicate open-source e-markets after low-risk high-yield synergy.</p>
        </div>
      </div>
      <div class="white-phone">
        <div class="white-phone__img">
          <img src="../images/mobile-2.png">
        </div>
        <div class="white-phone__content ">
          <div class="white-phone__content__head-text">
            <h1 class="white-phone__content__head-text__title">Make Business Easy With Us</h1>
            <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
          </div>

          <div class="wrapper">
            <div class="wrapper__content-box">
              <i class="fas fa-rocket fa-2x wrapper__content-box__icon"></i>
              <p class="paragraph">Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.</p>
            </div>
            <div class="wrapper__content-box">
              <i class="fas fa-rocket fa-2x wrapper__content-box__icon"></i>
              <p class="wrapper__content-box__paragraph">Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.</p>
            </div>
            <div class="wrapper__content-box">
              <i class="fas fa-rocket fa-2x wrapper__content-box__icon"></i>
              <p class="wrapper__content-box__paragraph">Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.</p>
            </div>
            <div class="wrapper__content-box">
              <i class="fas fa-rocket fa-2x wrapper__content-box__icon"></i>
              <p class="wrapper__content-box__paragraph">Intrinsically aggregate cutting-edge internal or "organic" sources through pandemic.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
