body{
    background-color: #fff;
    background: linear-gradient(-10deg, #fff 70%, $priColor 30%);
    background-size: cover;
    margin:0;
}

a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    background-color:$priColor;
}