body {
  background-color: #fff;
  position: relative;
  margin: 0;
  font-family: Nunito;
  //For correct page width by design
  max-width: 1200px;
  margin:auto;

}

html {
  background-color: #E5E5E5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}

.input[type="text"],button {
  outline: none;
}

p,h1,h2,h3,h4,h5,h6 {
  margin: 0;
}