.font-title {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 1px;
}

.font-14 {
    font-size: 14px;
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-30 {
    font-size: 30px;
}

.font-35 {
    font-size: 35px;
    letter-spacing: 0.8px;
}
