.client {
    text-align: center;
    margin: auto;
    flex-wrap: nowrap;
    padding-bottom: 100px;

    &__title {
        margin: 0 auto 28px auto; 
    }
    &__content {
        max-width: 47.5%;
        margin: 0 auto 28px auto;
    }

    &__logos {
        padding: 0 78px 0 78px;
    }
}