.conduct {
    text-align: center;
    padding-top: 122px;
    padding-bottom: 39px;

    &__button {
        margin: auto;
        margin-bottom: 69px;
    }

    &__paragraph {
        font-size: 18px;
        line-height: 29px;
    }


}