.getstarted {
    text-align: center;
    margin: auto;
    padding:0px 0 100px 0;

    &__title {
        margin-bottom: 20px;
    }
    &__paragraph {
        max-width: 50%;
        margin-bottom: 20px;
    }

    &__btn {
        margin: 23px 4px 0 4px;
        
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right:0;
        }
    }
}