/********************** Dropdown nav ***************/
.header {
    position: relative;
    margin: auto;
    background-color: $primary-color;

    //////////////////////////fox-icon//////////////////////////////
    .fox-icon {
        display: inline-block;
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
    }
    //////////////////////////////////////////////////////////////
    .nav {
        font-size: 0;
        float: right;
        &__item {
            display: inline-block;
            color: #ffffff;
            text-align: center;
            padding: 30px;
            font-size: 16px;
            border-bottom: 3px solid transparent;
            position: relative;
            cursor: pointer;

            &:after {
                content: '';
                display: block;
                transform: scaleX(0);
                border-bottom: solid 3px #fff;
                transition: transform .3s ease-in-out;
                position: absolute;
                width: 100%;
                top: 100%;
                left: 0;
            }

            &:hover:after {
                transform: scaleX(1);
            }

            &__link {
                color: #fff;
            }
        }
    }



    .dropdown {
        // position: relative;

        &:hover .drop-content {
            display: block;
            animation: fade-in .4s forwards;
        }
    }

    .drop-content {
        display: none;
        position: absolute;
        background-color: #ffffff;
        opacity: 0;
        min-width: 150px;
        text-align: left;
        margin: 0;
        top: calc(100% + 3px);
        left: 0;
        z-index: 1;
        box-shadow: 0 4px 26px 9px rgba(57, 148, 140, 1);

        .drop-item .drop-link {
            color: #000;
            padding: 18px 16px;
            display: block;
        }

        & .drop-item:hover .drop-link {
            color: #ffffff;
            background-color: $primary-color;
        }
    }
}


@keyframes fade-in {
    0% {
        opacity: 0;
        top: calc(100% + 33px);
    }

    100% {
        opacity: 1;
        top: calc(100% + 3px);
    }
}